*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 239, 239);
}
#hamburger{
    padding-right: 15px;
    display: none;
    
}
#check{
    display: none;
}
.navbar{
    height: 90px;
    width: 100%;
    background-color: rgb(247, 239, 239);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 50px ;
    box-shadow: 2px 10px 50px gray ;
    position: fixed;
    z-index: 5;
    margin-top: -71px;
}
.logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
.container{padding-top: 71px;}
.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu ul li{
    margin-right: 20px;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#naslovna a{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
}

.naslovna a:hover{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
#active a{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
}
.naslovna a{
    padding: 10px;
}
.usluge a:hover{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.usluge a{
    padding: 10px;
}
.simptomi a:hover{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.simptomi a{
    padding: 10px;
}
.osoblje a:hover{
    background-color:#74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.osoblje a{
    padding: 10px;
}
.contact a:hover{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.contact     a{
    padding: 10px;
}
.prijavaa a:hover{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.prijavaa     a{
    padding: 10px;
}
.logo-image{
    height: 100%;
}
.logo{
    height: 100% !important;
    padding: 10px;
}
.content
{
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.midle{
    width: 70%;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.lekari{
    margin-top: 100px;
    width: 70%;
    background-color: white;
    height: auto;
    margin-bottom: 100px;
}
.tim{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tim p{
    font-size: 35px;
}
.lekarii{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.nas_tim_kartica{
width: 300px;
height: 450px;
border:1px solid black;
margin-bottom: 30px;
background-color: #f1f0f0;
cursor: pointer;
}


.doktor_slika{
width: 100%;
height: 80%;
border-bottom: 1px solid black;
}
.doktor_slika img{
width: 100%;
height: 100%;
}
.doktor_ime{
text-align: center;
padding: 10px;
background-color:  #f1f0f0;;
}
.doktor_ime h2{
margin-top: 20px;
}
.doktor_ime p a{
text-decoration: none;
color: black;
}
.doktor_ime p{
margin-top: 10px;
}
.kartice_doktor{
width: 80%;
display: flex;
flex-direction: row;
justify-content: space-between;
}




.obavestenjeVerifikacija{
    text-align: center;
    margin-top: 100px;
}
.content_verify{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_verify a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.button-18{
    background-color: #f5ba1a;
      width: 250px;
      height: 30px;
    margin-top: 20px;
    border: none;
}
.button-18:hover{
    background-color: #e1a70a;
}


















.wrapper{
    margin-top: 40px;
}
.wrapper a{
    margin-top: 10px;
    display: block;
    width: 250px;
    height: 44px;
    line-height: 40px;
    font-size: 18px !important;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color:#318CCA;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-left: 15px;
    font-size: 14px;
  }
  
  .wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(133, 132, 132);
    border:none;
    transition: all .35s;
  }
  
  .wrapper a:hover{
    color: black;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }





.footer{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f242d;
}
.medi{
    padding-top: 40px;
    height: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.medi a{
    color: white;
    font-size: 20px;
}

.nav{
    padding-top: 40px;
    height: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav a:hover{
    color: #cccccc;
}

.radno{
    padding-top: 40px;
    height: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.radno a{
    color: white;
    font-size: 20px;
}




.footer2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
}
.footer2 p{
    font-size: 17px;
}